
.user-msg{
    display: flex;
    align-items: center;
    margin: 2rem 0;
}
.image{
    max-width: 200px;
    max-height: 200px;
}

.imageAsMessgae{
    width: 100%;
    height: auto;
    border-radius: 10px;
    cursor: pointer;
    
}
.imageAsMessgae:hover{
    opacity: 0.7;
}

.user-msg .userProfile{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    
}
.userProfile{
    margin: 5px;
}
.user-msg p{
    position: relative;
    margin: 5px;
    background-color: #fff;
    border-radius: 20px;
    padding: 10px 15px;
}

.sent {
    flex-direction: row-reverse;
}



