*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat',sans-serif;
}
body{
   overflow-x: hidden;
}


/* Navbar styling prefix*/
nav{
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: #8e44ad;
    color: #efe;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    min-height: 50px;
}


nav h1 a,nav h1 a:hover{
    text-decoration: none;
    color: #efe;
}

nav button{
    outline: none;
    border: none;
    background-color: #333;
    color: #fff;
    font-size: 20px;
    padding: 5px;
    transition: 1s;
    border-radius: 5px;
}

nav button:hover{
    background-color:#fff;
    color: #333;
}


/* Navbar styling end */

@media screen and (max-width:500px){

    nav {
        justify-content: space-between;
        padding: 6px;
    }
    nav h1 a{
        font-size: 25px;
        
    }
    nav button{
        font-size: 14px;
    }
    
}